@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Poppins:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: black;
    overflow-x: hidden;
}
section{
    
    margin-top:0vh;
    background-color: black;
    max-width: 99vw;
    min-height: 85vh;
}
footer{
    
    background-color: black;
    max-width: 99vw;
    height: 5vh;
    color: white;
    font-family:fantasy;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: right;
    align-items: end;
    justify-content: end;
    padding-right: 10px;
}
ul{
    
    display: flex;
    list-style: none;
    gap:10px;
}
li{ 
    width: 110px;
    padding: 3px;     
}
header{
    z-index: 2;
    position:sticky;
    top:0;
    background-color: transparent;
    color:white;
    max-width: 99vw;
    min-height: 10vh;
    display: flex;
    gap: 50vw;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.1s linear;
}
li:hover{
    transition: 0.3s linear;
    border-left: 10px solid rgb(9, 70, 201);
    background-color:rgb(25, 18, 149) ;
    content: "";
}
li:hover:last-child{
    transition: 0.3s linear;
    border-left: 10px solid rgb(9, 70, 201);
    background-color:rgb(25, 18, 149) ;
    content: "";
}
nav li:last-child{
    margin-left: auto;
    margin-right: 0px;
    
}
nav{
    width:40vw; 
}
h1{
    width: 120px;
    text-wrap: nowrap;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.material-symbols-outlined{
    display:flex;
    align-items: center;
    fill:white;
    margin-right: 0px;
    width: 30px;
    font-size: 2rem;    
}
#loginsvg{
    display:flex;
    margin-left: auto;
    align-items: center;
}
#lastLI{
    margin:0px;  
}
@keyframes myScaleAnimation {
    0% {
        box-shadow: 100px 200px 1000px 200px rgb(0, 32, 129);
    }
    25% {
        box-shadow: 100px 200px 1000px 200px rgb(0, 32, 129);
    }
    50% {
        box-shadow: 100px 200px 1000px 200px rgb(0, 32, 129);
    }
    70% {
        box-shadow: 100px 200px 1000px 200px rgb(0, 32, 129);
    }
    90% {
        box-shadow: 100px 200px 1000px 200px rgb(0, 32, 129);
    }
    100% {
        box-shadow: 100px 200px 1000px 200px rgb(0, 32, 129);
    }
}
.blur{
    z-index: 0;
    position: absolute;
    top:10%;
    left:2%;
    box-shadow: 200px 300px 300px 200px rgb(0, 32, 129);
}
.hacker{
   position: fixed;
   top:20%;
   width:900px;
   height: 600px;
}
a{  
    text-decoration: none;
    color:white;
    padding: 30px 30px 30px 5px;
    
}   
.home-div{
    
    position:absolute;
    top:45%;
    right: 5%;
    background-color: black;
    
    padding:20px;
    width:45vw;
    height:max-content;
    text-align: end;
    color:white;
    font-family:'Poppins', sans-serif;
    border-radius: 30px;
    
}
.home-p{
    font-size: 1.5rem;
    text-wrap:pretty;
    margin-top: 2vh;
    font-family:'Comic Neue', sans-serif;
    font-weight: 700;

}
.home-logo{
    
    margin-top: 3vh;
    height: 150px;
}
.home-h2{
    margin-bottom: 4vh;
    font-size: 5rem;
    font-family: 'Black Ops One';
    letter-spacing: 5px;
    
}
.home-h2::after{
    content: "Junior web developer";
    color: rgb(21, 79, 253);
    text-decoration: underline;
}
#homeLogo{
    display:flex;
    align-items: center;
}
.contact-h2{
    padding-top:14vh;
    margin-bottom: 3vh;
    font-size: 2.5rem;
    font-family: 'Black Ops One';
    letter-spacing: 1px;
    color:white;
    text-align: center;
    
}
.contact-h2::after{
    content: "message to me !!!";
    color: rgb(21, 79, 253);
}
.btn{
    
    background-color: rgb(21, 79, 253);  
}
.btn:hover{
    box-shadow: 2px 2px 100px 5px rgb(21, 79, 253);
}
.container{
    text-align: center;
}
#textAreaInput{
    height: 30vh;
}
.custom-cursor{

    background-color: rgb(21, 79, 253);
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.2s, box-shadow 0.2s;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 500px 100px rgba(21, 79, 253, 0.5);
    
}
.about-div{
    width:65vw;
    min-height: 85vh;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    
}
.about-p{
    font-size: 32px;
    z-index: 1;
    color:white;
}

.login-div, .register-div{
    width:30vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    
}
.login-h2{
    padding-top: 15vh;
    font-size: 2.2rem;
    font-family: 'Black Ops One';
    color: white;
}
.login-h2::after{
    content: "account";
    letter-spacing: 5px;
    color:rgb(21, 79, 253);
    text-decoration: underline;
}
.login-form, .register-form{ 
    width: 30vw;
    margin-top:5vh;
}
.mail-login, .password-login, .password-login2{
    padding-bottom: 2vh;
}
.buttons-login, .buttons-register{
    margin-top: 5vh;
    display: flex;
    width:100%;
    gap:20px;
}
.login-btns, .register-btns{
    background-color:rgb(21, 79, 253);    
}
.captcha-div{
    height: 10vh;
    border:2px solid green;    
}
.register-h2{
    text-align: center;
    padding-top: 15vh;
    font-size: 2.2rem;
    font-family: 'Black Ops One';
    color: white;
}
.register-h2::after{
    content: "account";
    letter-spacing: 5px;
    color:rgb(21, 79, 253);
    text-decoration: underline;
}
#floatingPassword2{
    margin-top: 2vh;
}
.buttons-register{
    align-items: center;
    justify-content: center;
}
